<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Select...</title>
</head>
<body>
<a href="/">BACK</a>
<h3>Search for Something!</h3>
<div class="table-responsive">
    <table class="table" id="product-table">
        <thead>
        <tr>
            <th>Query ID</th>
            <th>Query Text</th>
            <th>View Query</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="query :${allQueries}">
             <td th:text="${query._id}" th:value="${query._id}"></td>
                  <td th:text="${query.get('text')}" th:value="${query.get('text')}"> </td>
            <td><a th:href="@{'/mentions/'+${query.get('_id')}}">View here. </a></td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
